:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Very-light-gray: hsl(0, 0%, 95%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Display", cursive;
}

h1 {
  font-weight: 700;
  color: var(--Very-light-gray);
  text-transform: uppercase;
}
p {
  font-weight: 400;
  line-height: 1.6;
  color: var(--Transparent-white);
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.cart {
  width: 307px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
}
img {
  width: 70px;
}

.orang {
  background-color: var(--Bright-orange);
}

.cyan {
  background-color: var(--Dark-cyan);
}

.darkcyan {
  background-color: var(--Very-dark-cyan);
}

.orang button a {
  color: var(--Bright-orange);
}
.cyan button a {
  color: var(--Dark-cyan);
}
.darkcyan button a {
  color: var(--Very-dark-cyan);
}

button {
  background: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  width: 145px;
  border-radius: 30px;
  transition: 0.4s ease-out;
}

button:hover {
  cursor: pointer;
  background: transparent;
  border: 3px solid #fff;
}
button:hover a {
  color: #fff;
}
